<mat-toolbar color="primary">
    <span>
        <a [routerLink]="['/']">
            My To Do Lists
        </a>
    </span>
    <span class="spacer"></span>
    <span>
        <ul>
            <li>
                <a mat-button [routerLink]="['/lists']" routerLinkActive="mat-accent">
                    To Do Lists
                </a>
            </li>
            <li *ngIf="userAuthenticated">
                <a mat-button [routerLink]="['/create']" routerLinkActive="mat-accent">
                    Create TODO
                </a>
            </li>
            <li *ngIf="!userAuthenticated">
                <a mat-button [routerLink]="['/auth/login']" routerLinkActive="mat-accent">
                    Login
                </a>
            </li>
            <li *ngIf="!userAuthenticated">
                <a mat-button [routerLink]="['/auth/signup']" routerLinkActive="mat-accent">
                    Sign Up
                </a>
            </li>
            <li *ngIf="userAuthenticated">
                <button mat-button (click)="onLogout()">
                    Logout
                </button>
            </li>
        </ul>
    </span>
</mat-toolbar>