<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput type="email" placeholder="E-Mail" name="email" ngModel #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.invalid"> Please enter a Valid Email</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" name="password" ngModel #passwordInput="ngModel"
                required>
            <mat-error *ngIf="passwordInput.invalid"> Please enter a Valid Password</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading"> Login</button>
    </form>

</mat-card>