<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSavePost()" [formGroup]='form' *ngIf="!isLoading">
        <mat-form-field>
            <input matInput placeholder="Title" name="title" formControlName="title">
            <mat-error *ngIf="form.get('title').invalid"> Please enter a Post Title</mat-error>
        </mat-form-field>
        <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
            <input type="file" #filePicker (change)="onImageClick($event)">
        </div>
        <div class="image-preview" *ngIf="imagePreview && imagePreview !== '' && form.get('image').valid">
            <img [src]="imagePreview" [alt]="form.value.title">
        </div>
        <mat-form-field>
            <textarea matInput placeholder="Content" rows="5" name="content" formControlName="content"></textarea>
            <mat-error *ngIf="form.get('content').invalid"> Please enter a Post Content</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent"> Save Post</button>
    </form>

</mat-card>
<!-- <p> {{postCreate}} </p> -->