<div class="home-section">
    <h1>Home Page</h1>
    <p>This Web App is develop to make TODOs</p>
    <!-- <p>Resize the browser window to see that this page is responsive by the way.</p> -->
</div>

<h2 style="text-align:center">About Me</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/assets/shubham_1.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Shubham Dave</h2>
                <p class="title">MEAN Developer</p>
                <p>Always Keen to learn new things. Want to be a great person in future.</p>
                <!-- <p><button class="button">Contact</button></p> -->
                <p>mr.shubhamdave@gmail.com</p>
            </div>
        </div>
    </div>

</div>