<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length && !isLoading">
    <mat-expansion-panel *ngFor="let item of posts">
        <mat-expansion-panel-header>
            {{item.title}}
        </mat-expansion-panel-header>
        <div class="post-image">
            <img [src]="item.imagePath" [alt]="item.title">
        </div>
        <p [innerHTML]="item.content"></p>
        <mat-action-row *ngIf="userAuthenticated && userId == item.creator">
            <button mat-button color="primary" [routerLink]="['/edit', item.id]">EDIT</button>
            <button mat-button color="warn" (click)="onDelete(item.id)">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalPost" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)" *ngIf="posts.length ">
</mat-paginator>

<p class="info-text mat-body-1" *ngIf="!posts.length && !isLoading"> No post added yet!</p>