:host {
    display: block;
    margin-top: 1rem;
}

.info-text {
    text-align: center;
    font-weight: 100;
}

mat-spinner {
    margin: auto;
}

mat-paginator{
    margin-top: 1rem;
}
.post-image {
    width: 100%;
}

.post-image img {
    width: 100%;
    height: 50vh;
}